.barra-busqueda {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  vertical-align: middle;
  height: 60%;

  &__input {
    padding: 6px;
    font-size: 17px;

    border: 1px solid #787878;
    border-right: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 30vw;
  }

  &__boton {
    padding: 6px 10px;
    background: #1e9624;
    font-size: 17px;

    border: 1px solid #787878;
    border-radius: 5px;
    
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }

  &__boton:hover {
    background: darken(#1e9624, 10);
  }
}
