.carrito {
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    background-color: $colorPrincipal;
    border-radius: 20px;
    
    &__total {
        font-size: x-large;
        text-align: right;
        font-weight: 600;
    }

    &__total::after {
        content: '€';
    }
}