.carrito {
    padding: 4%;
    background-color: white;
    border-radius: 20px;
    
    &__total {
      background-color: $colorPrincipal;
        font-size: x-large;
        text-align: right;
        font-weight: 600;
        margin-left: auto;
        width: 20%;
        padding: 1% 4%;
        margin-bottom: 5%;
        border-radius: 20px;
    }

    &__total::before {
        content: 'Total:';
        margin-right: 10%;
    }
    &__total::after {
        content: '€';
    }
}