.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__paneles {
        padding: 2%;
    }

    &__enlaces {
        background-color: #ababab;
    }

    &__disclaimer {
        text-align: center;
        font-size: small;
        font-weight: lighter;
        color: #eeeeee;
        background-color: #898989;
        padding: 1%;
    }
}