.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__paneles {
        padding: 2%;
    }

    &__enlaces {
        background-color: $colorCuaternario;
    }

    &__disclaimer {
        background-color: $colorCuaternario;
        text-align: center;
        font-size: small;
        font-weight: lighter;
        color: $colorPrincipal;
        padding: 1%;
    }
}