.icono-carrito {
    position: relative;
    cursor: pointer;

    &__icono {
        font-size: 2rem;
        color: $colorCuaternario;
    }

    &__num-productos {
        position: absolute;
        height: 25px;
        width: 25px;
        top: -12px;
        right: -12px;
        border-radius: 100%;
        border: 1px solid #005247;
        background-color: white;
        text-align: center;
        color: #005247;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}