.log-in {
    z-index: 1000;
    position: absolute;

    background-color: white;
    padding: 40px;
    border-radius: 20px;
    width: 100%;

    flex-direction: column;

    &__label {
        width: 20px;
    }

    &__nombre {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__contrasenya {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__boton {
        width: 100%;
        display: flex;
        align-items: center;
    }
}