.log-in {
    z-index: 1000;
    position: absolute;

    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;

    flex-direction: column;

    &__label {
        width: 20px;
    }

    &__nombre {
        display: flex;
    }

    &__contrasenya {
        display: flex;
    }

    &__boton {
        width: 100%;
    }

    // &__fade-in {
    //     animation-name: login-fade-in;
    //     animation-duration: 1s;
    //     animation-fill-mode: forwards;
    // }

    // @keyframes login-fade-in {

    //     0% {
    //         display: flex;
    //         opacity: 0;
    //     }

    //     100% {
    //         opacity: 1;
    //     }
    // }

    // &__fade-out {
    //     animation-name: login-fade-out;
    //     animation-duration: 1s;
    //     animation-fill-mode: forwards;
    // }

    // @keyframes login-fade-out {

    //     0% {
    //         display: flex;
    //         opacity: 1;
    //     }

    //     100% {
    //         visibility: hidden;
    //         opacity: 0;
    //     }

    // }
}