.panel {
    font-family: 'Merriweather Sans';
    background-color: #f7f7f7;
    border-radius: 15px;
    height: 100%;

    display: grid;
    grid-template-areas: "imagen""titulo""texto";
    grid-template-rows: 2fr 1fr 2fr;

    border: 3px solid $colorPrincipal;
    border-bottom: 10px solid $colorPrincipal;

    transition: 0.3s;
    &__imagen {
        grid-area: imagen;
        height: 100%;
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }


    &__titulo {
        grid-area: titulo;
        font-size: 30px;
        font-weight: bolder;
        color: #343434;
        padding-left: 10%;

        display: flex;
        align-items: center;
    }

    &__texto {
        grid-area: texto;
        font-size: 20px;
        color: #343434;
        padding: 0 3%;
        padding-top: 5%;
        text-align: right;
    }
}

.panel:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transform: translate(-10px);
    cursor: pointer;

    &__titulo {
        display: block;
    }
}