.red {
    width: 100%;
    text-align: center;
    padding: 2% 5%;
    color: $colorPrincipal;
    font-weight: bolder;
    font-size: calc(0.75em + 1vmin);

    &__icono {
        margin-right: 6px;
    }

    transition: 0.2s;

    &:hover {
        color: lighten($colorPrincipal, 10);
        text-decoration: none;
    }
}