
.register{

    display: grid;
    grid-template-areas: "izquierda derecha";
    padding:5%;

    &__item--izquierda{
        grid-area: izquierda;
        text-align: center;
    }
    &__item--derecha{
        grid-area: derecha;
        
        background: rgba(0,0,0,.6);
        width:100%;
        max-width: 650px;
        padding:5px 35px;
        margin-top:30px;
        border-radius: 3px;
        margin-right: 400px;

    }
    &__logo{
        margin-top:5%;
        margin-bottom: 5%;
        width:20%;
        -webkit-animation:mover 2s infinite alternate;
        animation:mover 1s infinite alternate;
    }
    &__tittle{

        text-align: center;
        color:#f8991d;
    }
    &__msg{
        color:#f8991d;
        font-size: 15px;
    }
    &__welcome{
        
        color:#f8991d;
        font-size: 50px;
    }
}

.form{

    &-label{

        display: block;
        color:#f8991d;
        font-size:16px;
        position: relative;
    }

    &-input{

        background: $colorPrincipal;
        border:none;
        outline:none;
        border-bottom:2px solid #f8991d;
        width:100%;
        padding:12px;
        margin-bottom: 20px;
        border-radius: 2px;
        font-size: 14px;
        color:black;
    }

    &-submit{

        width:100%;
        outline:none;
        background:#f8991d ;
        font-size:16px;
        border:none;
        color:white;
        padding:10px 0;
        cursor:pointer;
        margin-top:30px;
        margin-bottom:20px;
    }

    &-submit:hover{

        background:#f8991d;

    }

}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

