.usuario {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__imagen {
        text-align: center;
        height: 50px;
        width: 50px;
        overflow: hidden;
        border-radius: 100%;
        max-height: 10vh;
    }

    &__nick {
        color: $colorCuaternario;
        text-align: center;
        width: 50%;
    }
}