.usuario {
    width: 100%;
    display: flex;
    align-items:center;

    &__imagen {
        text-align: center;
        height: 100%;
        width: 50%;
        overflow: hidden;
        border-radius: 100%;
        margin-right: 5%;
    }
    
    &__nick {
        color: $colorCuaternario;
        text-align: center;
        width: 50%;
    }
}