.l-columnas {
  display: grid;
  height: 100%;

  &__item {
    height: 100%;
    width: 100%;
  }

  @for $i from 1 through 12 {
    &--#{$i}-columnas {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }

  $gap-sizes: (
    "xs": 5,
    "s": 15,
    "m": 30,
    "l": 60,
    "xl": 120
  );
  $screen-sizes: (
    "tablet": 1100,
    "mobile": 600
  );

  @each $gap-size, $gap-number in $gap-sizes {
    &--gap-#{$gap-size} {
      gap: #{$gap-number}px;
    }
  }

  @each $screen-size, $screen-number in $screen-sizes {
    @each $gap-size, $gap-number in $gap-sizes {
      &\@#{$screen-size}-gap-#{$gap-size} {
        gap: #{$gap-number}px;
      }
    }
  }

  @each $screen-size, $screen-number in $screen-sizes {
    @media (max-width: #{$screen-number}px) {
      @for $i from 1 through 12 {
        &\@#{$screen-size}-#{$i}-columnas {
          grid-template-columns: repeat(#{$i}, 1fr);
        }
      }
    }
  }
}
