.portada {
    display: grid;
    grid-template-areas: ". carousel ."
        "paneles paneles paneles";
    height: 90vh;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 50vh 40vh;

    padding: 4%;

    &__carousel {
        grid-area: carousel;
    }
    &__paneles{
        grid-area: paneles;
        padding: 2%;
    }
}